body {
    font-size: 15pt;
    color: #020202;
    background: #E8ECFF url('../img/rocketsmall.png') no-repeat;
    font-family: arial, helvetica, sans-serif
}

#navbar {
    text-align: right;
}

.navbarlist {
    display : inline;
    padding-right: 30px;
    background-size: 100%
}

#time {
    text-align: center;
    font-size: 75%;
}

#logout {
    display: block;
    text-align: right;
    font-size: 7pt;
}

#newproject {
    background-color: #FFFABF;
    border: 1px solid;
    border-collapse: collapse;
    width: 65%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 1px 1px 8px 1px #00273A;
}

#text {
    display: block;
    width: 101%;
    height: 22px;
    padding: 0;
    margin: 0;
    border: 0;
}

#npsecondrow {
    background-color: #D4EADE;
}

.oneliner {
    text-align: center;
}

.messages {
    list-style: none;
    padding-top: 20px;
    text-align: center;
}

#user {
    display: block;
    text-align: right;
}
.default {
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 8px 1px #00273a;
}

.tableheader {
    background-color: #FFFABF;
}
.rows {
    height: 41px;
}

.row1 {
    background: #D4EADE
}

.row2 {
    background: #d5e2ec;
}
td, th {
    border: 1px solid;
}

#pageheader {
    text-align: center
}

.login {
    margin-left: auto;
    margin-right: auto;
}

.loginbutton {
    padding-left: 20em
}

.green{
    color: green;
}

#error {
    text-align: center;
}

#loginbtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}