body {
    font-size: 15pt;
    color: #020202;
    background: #E8ECFF;
    background-image: url('../img/rocketsmall.png');
    background-position: 0% 0% top;
    background-repeat: no-repeat;
    font-family: arial, helvetica;


}

#navbar{

    margin: auto;
    text-align: right;
}
.navbarlist
{
    display:block;
    display:inline;
    padding-right: 30px;
    background-size: 100%
}
h1 {
    font-size: 75%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}
#logout{
    font-size: 7pt;
}
#newproject{
    background-color: #FFFABF;
    border: 1px solid;
    border-collapse: collapse;
    width: 65%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 1px 1px 8px 1px #00273A;
}
#textfield{
    padding: 0px;
    margin: 0px;
    element: 0
}
#text{
    width: 600px;
    height: 22px;
    padding: 0px;
    margin: 0px;
    border: 0;
}
#npsecondrow{
    background-color: #D4EADE;
}
.oneliner{
    text-align: center;
}
.messages{
    list-style: none;
    padding-top: 20px;
    text-align: center;
}
.current_log{
    text: center;
}
#user {
    text-align: right;
}
.default{
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 8px 1px #00273a;
}
.tableheader{
    background-color: #FFFABF;
}
.row1{
    background: #D4EADE
}
.row2{
    background: #d5e2ec;
}
td, th{
    border: 1px solid;
}
.table{

}

#pageheader{
    text-align: center
}










.login{
    margin-left: auto;
    margin-right: auto;
}

.loginbutton{
    padding-left: 20em
}