<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} - </title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
    <script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
{#    <script type="text/javascript" src="/static/js/mm.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>

</head>
<body>
{% if user.is_authenticated %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class='navbar-inner'>
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">MinuteMan</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as{% if user.is_authenticated %} {{ user.get_full_name }}{% else %}Nobody{% endif %}
                </p>
                    <ul class="nav">
                        <li class=''><a href="/{{ static_url }}dashboard/">Your Dashboard</a></li>
                        <li class=''><a href="/project_summary/">Project Summary</a></li>
                        {% if user.is_superuser %}
                        <li class=''><a href="/admin">Admin</a></li>
                        {% endif %}

                    </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% block content %}
{% endblock content %}

</body>
</html>