<title>
    Dashboard
</title>

{% extends 'base.html' %}
{% block content %}

<div id='table'>
{% if current_log %}

{% else %}
<p class='oneliner'>Start a new project</p>
<form action="/dashboard/" method="post" class='startstop'>{% csrf_token %}
<table id='newproject'>

    <tr class='tableheader'>
        <th>Project</th>
        <th>Whatcha planning to work on?</th>
        <th>Ready...Set...</th>
    </tr>
    <tr id='npsecondrow'>
        <td>
            <select name='project'>
            {% for each_project in projects %}
            <option value="{{ each_project.id }}">{{ each_project.name }}</option>
            {% endfor %}
            </select>
    </td>
        <td id='textfield'>
            <input type='text'  id='text' value='' name="comments">
        </td>
        <td>
            <input type="hidden" value="{{ user.contractor.id }}" name="contractor">
            <input type="submit" value="Get Started" name='start' />
        </td>
    </tr>
</table>
</form>


{% endif %}
</div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

<div id='pjt_lsit'>
    
    <p class='oneliner'>Your recent work</p>
    
    <table class='default'>
        <tr class='tableheader'>
            <th>Project</th>
            <th>Client</th>
            <th>Time spent</th>
            <th>What you were doing</th>
            <th>Action</th>
        </tr>

            {% for each_row in lastfive %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ each_row.project }}</td>
                    <td>{{ each_row.project.client }}</td>
                    <td>{{ each_row.duration }}</td>
                    <td>{{ each_row.comments }}</td>
                    <td>
                        {% if forloop.first and current_log.project == each_row.project %}
                                <form action="/dashboard/" method="post" class='startstop'>{% csrf_token %}
                                    <input type='hidden' value="{{ current_log.project.id }}" name="project">
                                    <input type='hidden' value="{{ current_log.contractor.id }}" name="contractor">
                                    <input type="submit" value="I'm done!" name='stop' />

                                </form>
                        {% else %}
                           <form action="/dashboard/" method="post" class='startstop'>{% csrf_token %}
                                <input type='hidden' value="{{ each_row.project.id }}" name="project">
                                <input type="hidden" value="{{ user.contractor.id }}" name="contractor">
                                <input type="submit" value="Resume" name='resume' />
                            </form>

                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

    </table>

</div>

{% endblock content %}