<title>Project Stuff</title>

{% extends 'base.html' %}
{% block content %}

<p id='pageheader'>
    A look into all that you have done and what it is going to cost me to pay you.
</p>

<table class='default'>
    <tr class='tableheader'>
        <th>Client</th>
        <th>Project</th>
        <th>You're Worth</th>
        <th>Duration</th>
        <th>Before Taxes</th>
        <th>Project Notes</th>
    </tr>
    {% for project, duration in project_logs.items %}
    <tr class="{% cycle 'row1' 'row2' %}">

        <td>{{ project.client }}</td>
        <td>{{ project }}</td>
        <td>{{ project.rate }}</td>
        <td>{{ duration }}</td>
        <td>empty</td>
        <td>{{ project.comments }}</td>
    </tr>{% endfor %}


</table>
{% endblock content %}
