<title>Project Stuff</title>

{% extends 'base.html' %}
{% block content %}

<p id='container'>
    A look into all that you have done and what it is going to cost me to pay you.
</p>
<table class='table'>
    <tr class='tableheader'>
        <th>Client</th>
        <th>Project</th>
        <th>You're Worth</th>
        <th>Duration</th>
        <th>Before Taxes</th>
        <th>Project Notes</th>
    </tr>
    {% for project, info in projects.items %}
    <tr class="{% cycle 'row1' 'row2' %}">

        <td>{{ project.client }}</td>
        <td>{{ project }}</td>
        <td>{{ user.contractor.rate }}</td>
        <td>{{ info.duration }}</td>
        <td>${{ info.cost|floatformat:2 }}</td>
        <td>{{ project.comments }}</td>
    </tr>{% endfor %}


</table>

    <P>
        {% for project, money in project_costs.items %}
        {{ project }}
            {{ money }}
    {%endfor%}
    </P>
{% endblock content %}